{:highlights [{:id #uuid "64563b4a-decb-4933-858b-3ca1c6ddc2b3",
               :page 28,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 263.5084228515625,
                                     :y2 778.640625,
                                     :width 700,
                                     :height 1117.0212719621748},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 79.7421875,
                                   :y1 581.1796875,
                                   :x2 263.5084228515625,
                                   :y2 623.6796875,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 79.7421875,
                                   :y1 632.8359375,
                                   :x2 222.83262634277344,
                                   :y2 675.3359375,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 79.7421875,
                                   :y1 684.4921875,
                                   :x2 256.6097412109375,
                                   :y2 726.9921875,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 79.7421875,
                                   :y1 736.140625,
                                   :x2 239.4763946533203,
                                   :y2 778.640625,
                                   :width 700,
                                   :height 1117.0212719621748}),
                          :page 28},
               :content {:text "Meditation Workout Journaling(optional)"},
               :properties {:color "yellow"}}
              {:id #uuid "64563b5c-d5c9-4a67-b05c-a9f69dcdaad2",
               :page 28,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 641.4249267578125,
                                     :y2 778.640625,
                                     :width 700,
                                     :height 1117.0212719621748},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 0,
                                   :y1 0,
                                   :x2 0,
                                   :y2 0,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 433.8671875,
                                   :y1 581.1796875,
                                   :x2 621.1163940429688,
                                   :y2 623.6796875,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 433.8671875,
                                   :y1 632.8359375,
                                   :x2 557.1135864257812,
                                   :y2 675.3359375,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 433.8671875,
                                   :y1 684.4921875,
                                   :x2 641.4249267578125,
                                   :y2 726.9921875,
                                   :width 700,
                                   :height 1117.0212719621748}
                                  {:x1 433.8671875,
                                   :y1 736.140625,
                                   :x2 595.6423950195312,
                                   :y2 778.640625,
                                   :width 700,
                                   :height 1117.0212719621748}),
                          :page 28},
               :content {:text "No screens2 hours prior to bed Gratitude"},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
