{:highlights [{:id #uuid "6422b7b1-e80b-4de6-b04d-8d57f88007f6",
               :page 1,
               :position {:bounding {:x1 113.01670837402344,
                                     :y1 345.8046875,
                                     :x2 336.3238525390625,
                                     :y2 360.3046875,
                                     :width 759,
                                     :height 982.2352941176471},
                          :rects ({:x1 113.01670837402344,
                                   :y1 345.8046875,
                                   :x2 336.3238525390625,
                                   :y2 360.3046875,
                                   :width 759,
                                   :height 982.2352941176471}),
                          :page 1},
               :content {:text "there are no bad teams, only bad leaders."},
               :properties {:color "yellow"}}
              {:id #uuid "642405c1-e5a0-4d96-9c82-ec868490cd1a",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 446,
                                     :x2 281.85894775390625,
                                     :y2 643.2578125,
                                     :width 598.9999999999999,
                                     :height 775.1764705882351},
                          :rects ({:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 465.5,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 481.5,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 35.234375,
                                   :y1 608.265625,
                                   :x2 236.81661987304688,
                                   :y2 619.765625,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 35.234375,
                                   :y1 620.015625,
                                   :x2 281.85894775390625,
                                   :y2 631.515625,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 35.234375,
                                   :y1 631.7578125,
                                   :x2 99.46141052246094,
                                   :y2 643.2578125,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}),
                          :page 3},
               :content {:text "As a leader it is your responsibility to give junior developers room to grow and potentially fail, but not room to sink the ship"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
